/*Source: http://css-tricks.com/centering-in-the-unknown/ */
/* This parent can be any width and height */
body{
  background-color: #e0e0e0;
}

.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width:100%;
}

$zen-column-count: 13;
$zen-gutter-width: 10px;
$zen-grid-width: 100% !default;

.container{
  @include zen-grid-container();
}

#primary-colors{
  @include zen-grid-item(5,1);
}

#center-animation{
  @include zen-grid-item(3,6);
  position:relative;
}

#secondary-colors{
  @include zen-grid-item(5,9);
}


//decreasing breakpoints keep the elements centered, but not overlapping
@media only screen and (max-device-width:920px), only screen and (max-width: 920px) {
  #primary-colors, #center-animation, #secondary-colors{
    @include zen-grid-item(7,4);
    @include zen-clear();
  }
}

@media only screen and (max-device-width:600px), only screen and (max-width: 600px) {
  #primary-colors, #center-animation, #secondary-colors{
    @include zen-grid-item(9,3);
    @include zen-clear();
  }
}

@media only screen and (max-device-width:600px), only screen and (max-width: 600px) {
  #primary-colors, #center-animation, #secondary-colors{
    @include zen-grid-item(13,1);
    @include zen-clear();
  }
}