<html>
	<head>
    <link href="../styles/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
   	<!--[if lt IE 8]>
      <link href="../sass/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
		<script type="text/javascript" src="../js/libs/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../js/libs/underscore-min.js"></script>
		<script type="text/javascript" src="../js/libs/jquery.knob.js"></script>
		<script type="text/javascript" src="../js/templating.js"></script>

		<script id="color-template" type="text/x-handlebars-template">
			<ul class="color-list">
				<% _.each (rc.colors, function( color ){ %>
					<li class="color-element">
						<div class="color-circle" style="background-color:<%- color.val %>" data-name="<%- color.name%>"></div>
					</li>
				<% }); %>
			</ul>
		</script>

	</head>


	<body>
		<div class="test"></div>
		<div class="block">
			<div class="centered">
				<div class="container">


					<div id="primary-colors">
					</div>

					<div id="center-animation">
						<div class="main-circle"></div>
						<input class="loader">
						<div class="action play"></div>
					</div>

					<div id="secondary-colors">
					</div>


				</div>
			</div>
		</div>
	</body>


</html>

