<html>
	<head>
    <link href="../styles/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
   	<!--[if lt IE 8]>
      <link href="../sass/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
		<script type="text/javascript" src="../js/libs/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../js/libs/underscore-min.js"></script>
		<script type="text/javascript" src="../js/templating.js"></script>
		<script id="my-template" type="text/x-handlebars-template">
			<ul>
				<% _.each (rc.colors, function( color ){ %>
					<li>
						<%- color.name %>
					</li>
				<% }); %>
			</ul>
		</script>

	</head>


	<body>
		<div class="test"></div>
		<div class="block">
			<div class="centered">
				<div class="container">


					<div id="primary-colors">
						<ul id="primary-color-list"></ul>
					</div>

					<div id="center-animation">
						Circle
					</div>

					<div id="secondary-colors">
						<ul id="primary-color-list"></ul>
					</div>


				</div>
			</div>
		</div>
	</body>


</html>

