/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Source: http://css-tricks.com/centering-in-the-unknown/ */
/* This parent can be any width and height */
/* line 3, ../sass/_layout.scss */
body {
  background-color: #e0e0e0;
}

/* line 7, ../sass/_layout.scss */
em {
  font-style: italic;
}

/* line 11, ../sass/_layout.scss */
strong {
  font-weight: bold;
}

/* line 15, ../sass/_layout.scss */
.block {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
/* line 20, ../sass/_layout.scss */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
/* line 30, ../sass/_layout.scss */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

/* line 40, ../sass/_layout.scss */
.container {
  *position: relative;
  *zoom: 1;
  min-width: 310px;
}
/* line 46, ../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 45, ../sass/_layout.scss */
#primary-colors {
  float: left;
  width: 38.46154%;
  margin-left: 0%;
  margin-right: -38.46154%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 49, ../sass/_layout.scss */
#center-animation {
  float: left;
  width: 23.07692%;
  margin-left: 38.46154%;
  margin-right: -61.53846%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  position: relative;
}

/* line 54, ../sass/_layout.scss */
#secondary-colors {
  float: left;
  width: 38.46154%;
  margin-left: 61.53846%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 61, ../sass/_layout.scss */
#panel {
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-height: 100%;
}
/* line 66, ../sass/_layout.scss */
#panel #toggle-bar {
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  text-align: center;
}
/* line 70, ../sass/_layout.scss */
#panel #toggle-bar h1 {
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Oswald', sans-serif;
}
/* line 77, ../sass/_layout.scss */
#panel #additional-information {
  text-align: center;
  background-color: rgba(3, 0, 0, 0.8);
  width: 100%;
}
/* line 81, ../sass/_layout.scss */
#panel #additional-information .details {
  display: inline-block;
  text-align: left;
  max-width: 900px;
  margin: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Bitter', serif;
}

@media only screen and (max-device-width: 920px), only screen and (max-width: 920px) {
  /* line 99, ../sass/_layout.scss */
  #primary-colors, #center-animation, #secondary-colors {
    float: left;
    width: 53.84615%;
    margin-left: 23.07692%;
    margin-right: -76.92308%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (max-device-width: 600px), only screen and (max-width: 600px) {
  /* line 106, ../sass/_layout.scss */
  #primary-colors, #center-animation, #secondary-colors {
    float: left;
    width: 69.23077%;
    margin-left: 15.38462%;
    margin-right: -84.61538%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (max-device-width: 600px), only screen and (max-width: 600px) {
  /* line 113, ../sass/_layout.scss */
  #primary-colors, #center-animation, #secondary-colors {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }
}
@media only screen and (max-device-width: 360px), only screen and (max-width: 360px) {
  /* line 120, ../sass/_layout.scss */
  section.details {
    font-size: 12px;
    color: #440000;
  }
}
/* line 32, ../sass/_elements.scss */
.main-circle {
  height: 180px;
  width: 180px;
  border-radius: 10000px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -90px;
  margin-left: -90px;
  background-color: #888;
}

/* line 37, ../sass/_elements.scss */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

/* line 40, ../sass/_elements.scss */
.stare {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12.5px;
  margin-left: -12.5px;
  height: 25px;
  width: 25px;
  border-radius: 10000px;
  background-color: #333;
}

/* line 45, ../sass/_elements.scss */
.play {
  border-top: 25px solid transparent;
  border-left: 50px solid white;
  border-bottom: 25px solid transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -18.75px;
  cursor: pointer;
}

/* line 55, ../sass/_elements.scss */
.color-circle {
  height: 50px;
  width: 50px;
  border-radius: 10000px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

/* line 62, ../sass/_elements.scss */
.large-color-circle {
  height: 70px;
  width: 70px;
  border-radius: 10000px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

/* line 67, ../sass/_elements.scss */
.color-circle:hover {
  border: 3px solid #303030;
}

/* line 72, ../sass/_elements.scss */
.color-list {
  height: 200px;
}

/* line 76, ../sass/_elements.scss */
.color-element {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 24%;
}
